.gpt3__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5.5rem 0;
}

.gpt3__brand div {
    display: flex;
    cursor: pointer;
    margin: 1.438rem;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 120px;
}