.gpt3__whatGPT3 {
    display: flex;
    flex-direction: column;
    padding: 3.563rem;
    margin: 0 6rem;
}

.gpt3__whatGPT3__top {
    flex: 1;
}

.gpt3__whatGPT3__mid {
    flex: 1;
    margin-top: 5.625rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gpt3__whatGPT3__mid h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 30rem;
    min-width: 30rem;
}

.gpt3__whatGPT3__mid h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #FF8A71;
}

.gpt3__whatGPT3__bottom {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.625rem;
}

.gpt3__whatGPT3__bottom .gpt3__feature-component__text {
    margin-top: 1rem;
}

.gpt3__whatGPT3__bottom .gpt3__feature-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 12.063rem;
    flex: 1;
    margin-top: 2rem;
}

.gpt3__whatGPT3__bottom .gpt3__feature-component__text {
    width: 90%;;
}

@media screen and (max-width: 1050px) {
    .gpt3__whatGPT3 {
        padding: 2rem;
        margin: 0px 6rem;
    }

    .gpt3__whatGPT3__mid h1 {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        min-width: 16rem;
    }

    .gpt3__whatGPT3__mid h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
    }

    .gpt3__whatGPT3__mid {
        margin-top: 3rem;
    }

    .gpt3__whatGPT3__bottom {
        margin-top: 1rem;
    }

    .gpt3__whatGPT3__bottom .gpt3__feature-component__text {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__whatGPT3 {
        padding: 2rem;
        margin: 0px 1rem;
    }

    .gpt3__whatGPT3__mid h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        min-width: 8rem;
    }

    .gpt3__whatGPT3__mid h2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 40px;
    }

    .gpt3__whatGPT3__mid {
        margin-top: 2.5rem;
    }

    .gpt3__whatGPT3__bottom {
        margin-top: 0.5rem;
    }

    .gpt3__whatGPT3__bottom .gpt3__feature-component__text {
        margin-top: 0.2rem;
    }
}

@media screen and (max-width: 450px) {
    .gpt3__whatGPT3 {
        padding: 2rem 1rem;
        margin: 0;
    }
}